body{
    background: rgb(26, 38, 44);
    color:rgb(7, 7, 7);
    margin: 0px;
    font-family: "Baskervville SC", system-ui;
}
header{
    border: solid 2px rgb(3, 3, 3);
    padding: 10px;  
    font-size: 40px;
}
.chamada {
    background-color: rgb(188, 229, 248); 
    padding-bottom: 100px;
    padding-top: 100px;
    display: flex; 
    justify-content: center;
}
.titulo-video{
    margin-right: 5%;
}

.categoria{
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 40px;
}
.categoria-videos{
    display: flex;
    overflow: auto;
    gap:10px;
}
.categoria-videos img{
    opacity: 0.5;
    border: solid 2px  pink;
}
.categoria-videos img:hover{
    opacity: 1.0;
}

img{
    height:200px;
}
